{% extends 'base.html' %}
<div>{% block title %}More Info on Item {% endblock title %}</div>
{% block content %}
<div class="item-entry">
  <h2>{{ object.title }}</h2>
  <article>
    <p>offered by {{ object.seller }} | {{ object.date }}</p>
    <img src="{{ item.photos.url }}" alt="{{ item.title }}" />
    {{ object.description|linebreaks }}
    <p>Price: {{ object.price }}</p>
  </article>
  <p>
    <a href="{% url 'item_edit' item.pk %}">Edit</a>
    |
    <a href="{% url 'item_delete' item.pk %}">Delete</a>
  </p>
  <p>Back to <a href="{% url 'item_list'%}">All Items</a></p>
</div>
{% endblock content %}
